.konten2{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    background-color: #eef6fa;
    padding-top: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}
table:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background-color: white;
}
  
td {
    padding: 15px;
    text-align: center;
}

img{
    border-radius: 100%;
}
.bt{
    margin-top: 50px;
    width: 180px;
    color: #eef6fa;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}